# API 后端地址
NEXT_PUBLIC_API_URL=http://localhost:8080

# WalletConnect Project ID
# 前往 https://cloud.walletconnect.com/ 申请免费的 Project ID
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=baadd4773f7e6b93743bfe2cd1803784
